<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <header>
    <%- include('partials/header'); %>
  </header>
</head>

  <body>
    <div class="container jumbotron">
      <h1>Spotify Playlist Finder</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu scelerisque felis imperdiet proin fermentum leo vel. Amet venenatis urna cursus eget nunc scelerisque viverra
        mauris. Aliquam vestibulum morbi blandit cursus risus at ultrices. Mus mauris vitae ultricies leo integer. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Ut
        tortor pretium viverra suspendisse potenti nullam. Facilisis mauris sit amet massa vitae tortor. Ac placerat vestibulum lectus mauris ultrices. Phasellus faucibus scelerisque eleifend donec. Neque gravida in fermentum et sollicitudin ac orci
        phasellus. Augue neque gravida in fermentum et sollicitudin ac orci. Mauris ultrices eros in cursus turpis massa tincidunt dui ut. Id cursus metus aliquam eleifend mi. Id interdum velit laoreet id donec ultrices tincidunt. Tellus at urna
        condimentum mattis.</p>
      <a href="/login" class="btn btn-primary btn-success btn-lg">Log in with Spotify</a>
    </div>
  </body>

<footer>
  <%- include('partials/footer'); %>
</footer>

</html>
